#root {
  -fx-background: #26262E;
  -fx-padding: 20 10 20 10;
}

#chatbot_container {
  -fx-background-color: transparent;
}

#round_mic_button {
  -fx-background-color: #a9a9a9;
  -fx-background-radius: 5em;
  -fx-min-width: 80px;
  -fx-min-height: 80px;
  -fx-max-width: 80px;
  -fx-max-height: 80px;
}

#round_mic_button: hover {
  -fx-opacity: 0.7;
}

#round_mic_button:focused {
  -fx-background-color: #a9a9a9, #a9a9a9, #a9a9a9;
}

#update_time {
  -fx-min-height: 40px;
  -fx-text-fill: white;
  -fx-font-size: 12pt;
  -fx-font-family: "Segoe UI Semibold";
}

#mute_button {
  -fx-background-color: #a9a9a9;
  -fx-background-radius: 5em;
  -fx-margin: 0 0 0 0;
  -fx-min-width: 30px;
  -fx-min-height: 30px;
  -fx-max-width: 30px;
  -fx-max-height: 30px;
  -fx-text-fill: black;
  -fx-font-size: 11pt;
  -fx-font-family: "Segoe UI Semibold";
}
#mute_button:focused {
  -fx-background-color: #a9a9a9, #a9a9a9, #a9a9a9;
}

#mute_button: hover {
  -fx-opacity: 0.7;
}

#help_button {
  -fx-background-color: #a9a9a9;
  -fx-background-radius: 5em;
  -fx-margin: 0 0 0 0;
  -fx-min-width: 30px;
  -fx-min-height: 30px;
  -fx-max-width: 30px;
  -fx-max-height: 30px;
  -fx-text-fill: black;
  -fx-font-size: 11pt;
  -fx-font-family: "Segoe UI Semibold";
}

#help_button:focused {
  -fx-background-color: #a9a9a9, #a9a9a9, #a9a9a9;
}

#help_button: hover {
  -fx-opacity: 0.7;
}

#help_button: pressed {
  -fx-background-color: #101022;
}

#query_send {
  -fx-background-color: #303344;
}

#query_recieve {
  -fx-background-color: #1E1D25;
}

.chat_bubble {
  -fx-background-radius: 5px;
  -fx-font-size: 15pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: white;
  -fx-text-align: center;
  -fx-padding: 20px;
  -fx-position: absolute;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#news_heading {
  -fx-font-size: 15pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: #A2A1AB;
  -fx-padding: 5 0 0 0;
}

#news_data {
  -fx-font-size: 10pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: #605E71;
}

#news_url {
  -fx-font-size: 10pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: #605E71;
}

#news_url: hover {
  -fx-font-size: 10pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: blue;
}

#query_text_field {
  -fx-min-height: 40px;
  -fx-font-size: 13pt;
  -fx-font-family: "Segoe UI Semibold";
}

#query_text_field:focused {
  -fx-background-color: #a9a9a9, white, white;
}

#send_query_button {
  -fx-background-color: #676778;
  -fx-min-height: 40px;
  -fx-text-fill: white;
  -fx-font-size: 12pt;
  -fx-font-family: "Segoe UI Semibold";
}

#send_query_button: hover {
  -fx-opacity: 0.7;
}

#send_query_button: pressed {
  -fx-background-color: #101022;
  -fx-min-height: 40px;
}

#help_title {
  -fx-font-weight: bold;
  -fx-font-size: 25pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-padding: 120 0 20 0;
}

#help_text {
  -fx-text-fill: #A2A1AB;
  -fx-font-size: 17pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-padding: 0 0 5 0;
}

.scroll-pane {
  -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
  -fx-background-color: transparent;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-shape: " ";
  -fx-padding: 0;
}

.scroll-bar:horizontal .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb {
  -fx-background-color: transparent;
  -fx-background-radius: 5em;
}

.scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
  -fx-background-color: #1E1D25;
  -fx-background-radius: 5em;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
  -fx-padding: 0 10 0 0;
}
